<div class="user-details">
    <div class="user-info">
        <img src = <%= @user.photo %> alt="profile pic"/>
        <p> <%= @user.name %> </p>
        <p> Number of posts: <%= @user.posts.count %> </p>
    </div>
    <div class="user-bio">
        <h3>Bio</h3>
       <p> <%= @user.bio %> </p>
    </div>
    <ul class="user-posts">
        <% @user.posts.each do |post| %>
            <a href = <%= "#{user_posts_url(@user.id)}/#{post.id}" %>>
                <li>
                    <h3> <%= post.title %></h3>
                    <p> <%= post.text %></p>
                    <div class="post-info">
                        Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %>
                    </div>
                </li>
            </a>
        <% end %>
    </ul>
    <a href= <%= user_posts_path(user_id: @user.id) %>>
        <button id="btn-see-all-posts">See all posts</button>
    </a>
</div>