<%= form_with model: post, url: user_posts_url, class: "form" do |form| %>
<div class="form-items">
    <%= form.label :title %>
    <%= form.text_field :title %>
</div>
<div class="form-items">
    <%= form.label :text %>
    <%= form.text_field :text %>
</div>
<div class="btn-submit">
    <%= form.submit value="Post" %>
</div>
