<div class = "post">
    <div class="post-info">
        <p>Post # <%= @post.id %> by <%= @user.name %> </p>
        <p> Comments: <%= @post.comments_counter%> Likes: <%= @post.likes_counter%> </p>
    </div>
    <div class="post-body">
        <%= @post.text%>
    </div>
    <ul class="post-comments">
        <% @post.comments.includes(:post).each do |comment| %>
        <li>
            <%= comment.text %>
        </li>
        <% end %>
    </ul>
</div>